[submodule "MapReduce-Word-Count"]
	path = MapReduce-Word-Count
	url = https://github.com/tylernotthomas/MapReduce-Word-Count/
[submodule "PyTorch-Networks"]
	path = PyTorch-Networks
	url = https://github.com/shanglianlm0525/PyTorch-Networks
[submodule "tiny-dnn"]
	path = tiny-dnn
	url = https://github.com/tiny-dnn/tiny-dnn
[submodule "trng4"]
	path = trng4
	url = https://github.com/rabauke/trng4
[submodule "hpc-mpi-projects"]
	path = hpc-mpi-projects
	url = https://github.com/l3lackcurtains/hpc-mpi-projects
[submodule "ligra"]
	path = ligra
	url = https://github.com/jshun/ligra.git
